[Unit]
Description=Snower Data Collector Service
After=multi-user.target

[Service]
EnvironmentFile=/etc/default/air_ar
Type=simple
ExecStart=/bin/bash -c 'export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH && .$AIR_AR_PATH/Software/systemctls/scripts/data_collector.sh'
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal
Environment="LD_LIBRARY_PATH=/usr/local/lib"


[Install]
WantedBy=multi-user.target
