[Unit]
Description=Robosense RS16 Lidar Launch Service
After=multi-user.target

[Service]
EnvironmentFile=/etc/default/air_ar
Type=simple
ExecStart=/bin/bash -c '$AIR_AR_PATH/Software/systemctls/scripts/zed.sh'
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
