[Unit]
Description=ROS2 Docker Compose Service
After=multi-user.target
Requires=docker.service

[Service]
EnvironmentFile=/etc/default/air_ar
# ExecStartPre=/usr/bin/docker compose -f docker-compose.yml build
ExecStart=/bin/bash -c '/usr/bin/docker compose -f "$AIR_AR_PATH/Software/docker-compose.yml" up'
ExecStop=/bin/bash -c '/usr/bin/docker compose -f "$AIR_AR_PATH/Software/docker-compose.yml" down'
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
